<ion-app>
    <ion-header>
      <ion-toolbar color= primary>
        <ion-title>
          Assignment 2 - 4ME305
        </ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Choose below</ion-card-title>
                   </ion-card-header>
                    <ion-card-content>
                     <ion-item>
                       <ion-label position="floating">Geolocation</ion-label>
                      <ion-input type="text"></ion-input>
                       <ion-button fill="outline" color="danger" id="btn-geo" [routerLink]="['/location']">Click here</ion-button>
                     </ion-item>
                     <ion-item>
                      <ion-label position="floating">Take a photo or Upload</ion-label>
                      <ion-input type="text"></ion-input>
                      <ion-button fill="outline" color="primary" id="btn-photo" [routerLink]="['/photo']">Click here</ion-button>
                    </ion-item>
                      <div class="container">
                        <img src="{{imgURL}}" position="center" height="200" width="200" /><br><br>
                        <ion-button (click)="getCamera()">Take a photo</ion-button>
                        <ion-button (click)="getUpload()">Upload a photo</ion-button>
                        <ion-button (click)="getUpload()">Share your photo</ion-button>

                      </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-content>
    <script src="app.js"></script>
  </ion-app>
